@tailwind base;
@tailwind components;
@tailwind utilities;


.page-container {
    width: 1440px;
    margin: 0 auto;
    min-height: 100vh;
    background-color: #fff;
  }

  
.header {
    height: 64px;
    background-color: white;
    border-bottom: 1px solid black;
    display: flex;

    align-items: center;
    margin-left: 208px;
    margin-right: 208px;
}

.navbar-text {
    color: black;
    font-family: Inter;
    font-weight: semibold;
}

.navbar-logo {
    margin-right: 16px;
    margin-left: 16px;
}

.cart{
    margin-left: auto;
    margin-right: 16px;
    display: flex;
    align-items: center;
    position: relative;
}

.product-page{
    width: 1024px;
    margin-left: 208px;
    margin-right: 208px;
    margin-top: 64px;
}

.hero-image{
    height: 400px;
    object-fit: cover;
    margin-bottom: 50px;
}

.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    color: black;
    width: 300px;
    height: 338px;
}

.product-image{
    height: 155px;
}

.grid{
    column-gap: 100px;
    row-gap: 50px;
}

.cart-count {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
    position: absolute;     /* Allows precise positioning */
    top: -10px;             /* Adjust as needed */
    right: -10px;           /* Adjust as needed */
    border-radius: 50%;     /* Makes the div a circle */
    font-size: 14px;
    background: #F31260;
    color: white;
}

.p-4 {
    width: 100%;
}

.card-button {
    width: 178px;
    height: 40px;
}

.price{
    width: 90px;
    padding-right: 14px;
}

.this-product-image{
    width: 512px;
    height: 512px;
}

.plus-minus-button{
    width: 66px;
    height: 44px;
}